body,ul,li,a{
    margin: 0;
    padding: 0;
}
body{
    background: #f8f8f8;
}


/*-----------筛选条件开始--------------------*/
.container .row .col-md-12 .table{
    background: white;
}
.container .row .col-md-12 .table  .zx{
    text-align: left!important;
    border-right: none;
}
.container .row .col-md-12 .table  .zx .condition{
    margin-left: 10px;
    padding: 2px 10px;
    border: solid 1px darkseagreen;
    color: darkseagreen;
}
.container .row .col-md-12 .table :nth-child(1) .sz{
    width: 20%;
    text-align: right;
}
.container .row .col-md-12 .table :nth-child(2) :first-child{
    width: 10%;
}
.table-bordered>tbody>tr>td{
    border: none;
}
.table-bordered>tbody>tr>td a{
    color: grey;
    text-decoration: none;
}
.table-bordered>tbody>tr{
    border-top: solid 1px #ddd;
}
.table-bordered>tbody>tr .line{
    border-right: solid 1px #ddd;
    text-align: center;
    background: rgba(193, 193, 193, 0.15);
}
@media (min-width: 768px){
    #btn-group{
        display: none;
    }
}
@media (min-width: 768px)and (max-width: 993px){
    .font{
        font-size: 12px;
    }

}


/*--------媒体查询--------------*/

@media (max-width: 767px){
    table{
        display: none;
    }
    #idData{
        display: block;
    }
    #btn-group{
        margin-left: 20%;
    }

}
@media (max-width: 610px){
    #btn-group{
        margin-left: 2%;
    }
    .container .row .img .second_img{
        display: none;
    }
    .container .row .company_list{
        padding-left: 30px;
    }
    .paging {
        display: none;
    }
    .paging1 {
        margin-left: 70px;
    }
}
@media (max-width: 445px){
    .container,.btn-group{
        margin: 0;!important;
        padding: 0;!important;
    }
    .my_btn{
        width: 90px;
    }
    #btn-group{
        margin-left:1%;
    }
    .container .row .text-top{
        margin-left: 2%;
    }
    .container .row .company_list{
        padding-left: 30px;
    }
    .container .row .text-top h3{
        font-size: 2rem;
    }
    .paging {
        display: none;
    }
    .paging1{
        padding: 0;
    }
    #barcon{
        margin-left: 10%;
    }
}
/*----------媒体查询结束-----------*/


/*----------表格结束------------*/
/*----------排序开始------------*/
.row .sort a{
    color: grey;
    text-decoration: none;
}

.sorted{
    margin: 20px 0 10px 0;
}




/*----------排序结束------------*/

/*-----------公司列表开始-------------*/
#idData tr{
    background: white;
}
.container .row .circle-left{
    padding-top: 20px;
}
.container .row .circle{
    border: solid 1px #ddd;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
}
.container .row .circle img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.container .row .img{
    border-bottom: dotted 1px #b4b4b4;
    padding-bottom: 20px;
    margin-top: 15px;
}
.container .row .img img{
    width: 100%;
    height: 100%;
}
.container .row .case{
    margin-top: 10px;
}
.container .row .text-top a{
    color: #282828;
    text-decoration: none;
}
.container .row .text-top .case :nth-child(2){
    margin-left: 10px;
}
/*----------媒体查询开始-----------*/
@media (max-width: 1200px){
    .container .row .img img{
        width: 185px;
        height: 120px;
    }

}
@media (max-width: 993px){
    .container .row .circle{
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .container .row .circle img{
        width: 27px;
        height: 27px;
    }
    .container .row .img .fourth_img{
        display: none;
    }
}

@media (max-width: 767px){
    .container .row .tel{
        display: none;
    }
    .container .row .case{
        margin-top: 0px;
    }
}
@media (max-width: 700px){
    .container .row .img .first_img{
        margin-left: 20px;
    }
    .container .row .img .second_img{
        margin-left: 10%;
    }
    .container .row .img .third_img{
        display: none;
    }
    .container .row .img img{
        width: 230px;
        height: 180px;
    }
}
/*-----------公司列表结束-------------*/


/*------------分页开始--------------*/

#barcon{
    margin-left: 36%;
}

@media (max-width: 993px) {
    #barcon{
        margin-left: 30%;
    }
}
@media (max-width: 768px) {
    #barcon{
        margin-left: 20%;
    }
}
@media (max-width: 610px) {
    #barcon{
        margin-left: 8%;
    }
    .page_1{
        width: 15%;
    }
}
@media (max-width: 437px) {
    #barcon{
        margin-left: 3%;
    }
    .page_1{
        width: 10%;
    }
}

/*------------分页结束--------------*/




