body{
    margin: 0;
    padding: 0;
}
.my_container{
    background-color: #FFFFFF;
    padding: 0;
    box-sizing: border-box;
    border-bottom: 0;
    box-shadow: 0px 0px 5px #cccccc;
}
.title{
    font-size: 30px;
}
.my_nav{
    height: 80px;
    padding-top: 16px;
    box-sizing: border-box;
}
.my_nav ul li a{
    font-size: 16px;
    font-weight: 500;
}
.my_nav ul li .a1:hover{
    color: #FFFFFF !important;
    background-color: #ececec;
    border-radius: 2px;
}
.nav_hidden form{
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 12px;
    border: none;
}
.search_criteria{
    /*height: 42px;*/
    border-radius: 0;
}
.search_criteria:hover{
    background-color: white;
}
.search_criteria:focus,
.search_criteria:active:focus,
.search_criteria.active:focus,
.search_criteria.focus,
.search_criteria:active.focus,
.search_criteria.active.focus {
    outline: none;
    box-shadow: none;
    background-color: #FFFFFF;
}

.search_ul{
    border-radius: 2px;
    min-width: 90px ;

}
.search_ul li{
    display: block;
    font-size: 14px;
    padding: 5px 0;
    box-sizing: border-box;
    text-align: center;
}
.search_ul li:hover{
    cursor: pointer;
    background-color: #F5F5F5;
}
.search_header .search_criteria{
    border: 0;
    border-right: solid 1px #CCCCCC;
}
#search_txt{
    padding-left: 10px;
    width: 400px;
    height: 30px;
    outline: 0;
    border: 0;
}



@media (max-width: 767px) {
    .nav_hidden{
        background-color: #FFFFFF;
    }
    .nav_hidden form{
        display: none;
    }
}
@media (max-width: 992px) {
    #search_txt{
        width: 98px !important;
        height: 30px;
        outline: 0;
        border: 0;
        display: block;
        border-radius: 6px;
    }
    .nav_hidden form{
        font-size: 12px;
        padding: 0 6px;
    }
    .search_criteria{
        font-size: 12px;
        padding: 5px;
    }
    .search_ul{
        border-radius: 2px;
        min-width: 67px ;

    }
    .search_ul li{
        display: block;
        font-size: 12px;
        box-sizing: border-box;
        text-align: center;
    }
}
@media (max-width: 1200px) {
    #search_txt{
        width: 300px;
        height: 30px;
        outline: 0;
        border: 0;
        display: block;
    }
}
.div01{
    height: 80px;
    margin-bottom: 30px;
}


/*底部*/
.footer{
    background-color: #221F1E;
    text-align: center;
    margin-top: 50px;
}
.footer_link{
    color: #D8902D;
    font-size: 16px;
}
.footer>div:first-child{
    padding: 10px 0;
    border-bottom: solid 1px #777777;
    box-sizing: border-box;
}
.footer>div:last-child{
    padding: 20px 0 30px 0;
    box-sizing: border-box;
}
.footer>div:last-child p{
    color: #AFA9A9;
}
.footer>div:last-child b{
    color: #D8902D;
}
