body{
    background-color: #F1F1F1;
}
ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    color: #858585;
    text-decoration: none;
}


/*主体*/

/*头部*/
.strategy_diary{
    width: 90%;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.main_left{
    width: 72%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px #cbcbcb;
}
.main_right{
    width: 26%;
}
.strategy_top{
    width: 100%;
    background: #F9F9F9;
}

.strategy_diary_ul{
    display: flex;
    font-size: 16px;
}
.strategy_li,.diary_li{
    flex: 1;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    border-right: solid 1px #DDDDDD;
}
.strategy_li{
    background: #FFFFFF;
}
.diary_li{
    border-bottom: solid 1px #DDDDDD;
}
.strategy_diary_ul li:nth-child(3){
    flex: 6;
    border-bottom: solid 1px #DDDDDD;
}

/*攻略*/
.strategy{
    padding: 0 50px;
    display: block;
}
.strategy_main{
    background-color: white;
    padding: 30px 0;
    border-bottom: dotted 1px #b4b4b4;
}
.strategy_img{
    padding: 0;
}
.strategy_img img{
    width: 100%;
    object-fit: cover;
}
.strategy_text{
    height: 100%;
    padding: 25px 20px 6%;
    position: relative;
}
.strategy_text span:first-child{
    font-size: 20px;
    font-weight: 600;
}
.strategy_text p{
    color: #959795;
    margin-top: 20px;
}

.strategy_text .author{
    color: #959795;
    font-size: 12px;
    position: absolute;
    right: 20px;
    bottom: 0;

}

/*日记*/
.diary{
    padding: 0 50px;
    display: none;
}
.diary_main{
    background-color: white;
    padding: 30px 0;
    border-bottom: dotted 1px #b4b4b4;
}

.user_icon01{
    width: 70px;
    height: 70px;
    margin: auto;
}
.user_icon01 img{
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 50%;
    object-fit: cover;
}
.nickname{
    color: #999999;
    margin-top: 10px;
    text-align: center;
}

.diary_info{
    position: relative;
}

.diary_info .diary_title{
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

.diary_info .style{
    color: #999999;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

.diary_info .diary_text{
    color: #666666;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

.diary_info .diary_image{
    margin-top: 10px;
    padding-left: 20px;
}
.diary_info .diary_image img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}


.diary_info .public_time{
    color: #959795;
    font-size: 12px;
    text-align: right;
    margin-top: 10px;
}


/*-------返回顶部-----------*/
.go-top{
    width: 45px;
    height: 45px;
    background: white;
    position: fixed;
    right: 0;
    bottom: 100px;
    font-size: 3rem;
    text-align: center;
    line-height: 50px;
    border: solid 1px rgba(203, 203, 203, 0.6);
    cursor:pointer;
}



@media (max-width: 768px){
    .nickname,.diary_image,.public_time{
        display: none;
    }
    .strategy_ul li{
        font-size: 14px;
        padding: 0;
    }
    .strategy_ul li a{
        padding: 8px;
    }
    .user_icon01{
        width: 50px;
        height: 50px;
    }

}
@media (max-width: 1200px){
    .diary_info .diary_image img{
        width: 100px;
        height: 100px;
    }
    .diary_info .diary_image img:last-child{
        display: none;
    }
}
@media (max-width: 992px){
    .diary_info .diary_image img:nth-child(3){
        display: none;
    }
    .main_left{
        width: 100%;
    }
    .main_right{
        display: none;
    }
    .strategy_diary_ul li:nth-child(3){
        flex: 2;
    }
}

/*更多*/
.more{
    margin: 30px 0;
    text-align: center;
}
#more_strategy,#more_diary{
    font-size: 18px;
    padding: 5px 50px;
    display: inline-block;
    margin: auto;
    box-sizing: border-box;
    border: solid 1px #CCC;
}
#more_strategy:hover,#more_diary:hover{
    text-decoration: none;
    background-color: #C4AD4F;
}

@media (max-width: 767px) {
    .strategy_text span:first-child{
        font-size: 16px;
        font-weight: 600;
    }
    .strategy_text p,.author{
        display: none;
    }
}


/*热门攻略*/
.hot_strategy{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px #cbcbcb;
    padding:10px 0 30px;
}
.hot_top{
    border-left: solid 4px #00ba00;
    font-size: 16px;
    font-weight: 700;
    padding: 4px 20px;
}

.hot_content{
    padding: 0 20px;
}
.hot_content div{
    display: flex;
    margin-top: 5px;
}
.number{
    width: 30px;
    height: 20px;
}
.hot_title{
    flex: 1;
    padding-top: 5px;
}
.hot_title span{
    cursor: pointer;
}
.hot_title span:hover{
    color: #00ba00;
}
.hot_content .hot_image{
    text-align: center;
}
.hot_image img{
    width: 90px;
    height: 90px;
    object-fit: cover;
}

/*热门日记*/
.hot_diary{
    margin-top: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px #cbcbcb;
    padding:10px 0 30px;
}

/*lunbo*/
.carousel{
    /*padding: 0;*/
}
.carousel ul{
    position: relative;
    left: 0;
    list-style: none;
    padding: 0;
}
.wrap{
    overflow: hidden;
    position: relative;
    width: 100%;
}

.img-list{
    display: flex;
    margin: 0;
    width: 300%;
    height: 100%;
}

.img-list li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 40px 20px 0;
}
.img-list li div{
    width: 84%;
    margin-top: 10px;
}
.img-list li div:first-child img{
    width: 264px;
    height: 125px;
}
.hot_item{
    display: flex;
}
.hot_item img{
    width: 90px;
    height: 70px;
    box-sizing: border-box;
    margin-right: 10px;
}
.hot_item span{
    flex: 1;
}

.tab-list-div{
    position: absolute;
    z-index: 20;
    top: 96%;
    left: 50%;
    margin-left: -10px;
}
.tab-list:after{
    content: "";
    display: block;
    clear: both;
}
.tab-list li{
    float: left;
    transition: 1s;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background-color: #bbb;
    border-radius: 50%;
}
.tab-list li:hover{
    cursor: pointer;
}
.tab-list li:first-child{
    margin-left: 0;
}
.tab-list .on {
    background-color: #00ba00;
}


/*关注我们*/
.QR{
    margin-top: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px #cbcbcb;
    padding:10px 0 30px;
}
.QR .QR_content{
    margin-top: 10px;
    text-align: center;
}
.QR .QR_content span{
    display: block;
    padding: 2px 25px;
    color: #00ba00;
}

.QR .QR_content img{
    width: 130px;
    height: 130px;

}